<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                      <div class="col-lg-6 d-none d-lg-block ">
                        <img src="\assets\marche.jpeg" alt="" srcset="" width="100%" height="100%">
                      </div>
                      <div class="col-lg-6">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-900 mb-4">GESTION DE PRODUIT !</h1>
                              </div>
                              <hr>
                              <div class="text-center mb-3">
                                  <button class="small"  (click)="EspaseClient()"> -> ESPACE CLIENT</button>
                              </div>
                              <div class="text-center">
                                  <button class="small"  (click)="EspaceAdmin()">-> ESPACE ADMIN</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </div>

</div>
